.analysis-panel
  overflow-x hidden
  overflow-y visible
  position static
  height 100%

.analysis-instructions
.analysis-instructions__upload
.analysis-instructions__coordinates
  color $grayFont
  padding 10px
  
.analysis-instructions__draw
  color $grayFont
  padding 0 10px

.analysis-instructions__header
  font-weight 400
  margin 5px 0

.analysis-instructions__header--additional
  text-align center
  font-weight 400
  padding 0 25px
  font-size 13px
  margin-top 0

.analysis-instructions__header--additional .svg-icon
.analysis-instructions__olist .svg-icon
  display inline-block
  position relative
  padding 0 3px
  height 21px
  width 21px
  top 5px

.analysis-instructions__olist
  list-style-type decimal
  font-size 13px
  padding 0 15px

.analysis-instructions__separator
  background-color $goldTheme
  position relative
  text-align center
  font-size 18px
  margin 20px 0
  width 100%
  height 1px

.analysis-instructions__separator-text
  transform translate(-50%, -50%)
  position absolute
  background white
  padding 0 10px
  top 50%

.analysis-instructions__draw-icon-container
  margin 10px 0

.analysis-instructions__draw-icon
  display block
  margin 1rem auto
  height 75px
  width 100px
  &.cls-3
    fill $goldTheme
  &.cls-8
    fill white
  &.cls-17
    fill $darkGray

.analysis-instructions__draw-button
  // text-transform uppercase
  // font-weight bold
  // margin 15px
  // min-width 175px
  text-transform uppercase
  font-weight bold
  margin 15px
  display flex
  align-items center
  justify-content center
  margin-bottom 35px
  min-width 175px
  .analysis-instructions__draw-upload-icon
    margin 0 0.5rem
  
.analysis-instructions__enter-values-button
  text-transform uppercase
  font-weight bold
  margin 15px
  display flex
  align-items center
  justify-content center
  margin-bottom 35px
  min-width 175px
  .analysis-instructions__enter-values-icon
    margin 0 0.5rem
    
.analysis-instructions__make-shape-button
  text-transform uppercase
  font-weight bold
  margin 15px
  display flex
  align-items center
  justify-content center
  min-width 175px
  .analysis-instructions__make-shape-icon
    margin 0 0.5rem
    
.analysis-instructions__add-more-button
  text-transform uppercase
  font-weight bold
  margin 0.5rem 0
  display flex
  align-items center
  justify-content center
  min-width 175px
  font-size 0.75rem
  color #555
  &:hover
    text-decoration underline
    text-decoration-color #e6a912
  .analysis-instructions__add-more-icon
    margin 0 0.5rem

.analysis-instructions__upload-container
  background-color $lightGrayHighlight
  border 2px dashed $lightGray
  border-radius 10px
  position relative
  text-align center
  margin 5px 15px
  font-size 20px
  padding 10px
  cursor copy
  &.active
    font-weight bold
  & input
    display none

.analysis-instructions__upload-label
  pointer-events none

.analysis-instructions__upload-instructions
  font-size 12px
  padding 10px 20px 5px

.analysis-results
  color $grayFont
  width 100%
  height 100%
  overflow visible

.analysis-results__title
  border-bottom 1px solid $lightGray
  font-weight normal
  padding 0
  margin 0

.analysis-results__select-label
  font-size 14px
  margin 5px 0
  color black

.analysis-results__select-container
  height 25px

.analysis-results__select
  -webkit-appearance none
  position absolute
  height 100%
  width 100%
  background transparent
  border-radius 0
  padding-left 10px
  left 0
  top 0
  &::after
    pointer-events none
    position absolute
    content '\25BC'
    font-size 10px
    right 5px
    top 2px

.analysis-results__select-form
  overflow-x hidden
  .analysis-results__select-form-item-container
    display flex
    flex-direction column
    width 100%
    height 60px
    padding-left 30px
    padding-right 10px
    justify-content space-around
    margin-bottom 20px
    .react-datepicker-wrapper
      width 100%
      .react-datepicker__input-container
        width 100%
        & > div
          display inline-flex
          width: 100%
    .select-form-item
      width 90%
      align-self center
    .tree-cover-canopy-display
      line-height 20px
    .canopy-label, .canopy-button
      // font-size 20px
      font-size: smaller;
  .item-title
    font-size 16px
    font-weight bold
    margin-top 10px
  .item-description
    font-size 12px
    margin-bottom 10px

.analysis-datepicker-button-label
  margin-right 10px
  width 50px

.analysis-item-wrapper
  border-bottom 1px solid rgba(0,0,0,0.2)
  margin-bottom 10px
  &:last-child
    border-bottom none
  .analysis-item-label
    span strong
      border 1px solid
      display inline-flex
      width 25px
      height 25px
      justify-content center
      align-items center
      border-radius 50%
      margin-right 10px

.analysis-results__select-style
  border 1px solid $lightGray
  text-overflow ellipsis
  white-space nowrap
  padding-right 15px
  padding-left 5px
  line-height 2em
  overflow hidden
  font-size 13px
  color black
  height 2em
  width 100%

.analysis-results__select-arrow:after
  pointer-events none
  position absolute
  content '\25BC'
  font-size 12px
  color #e6a912
  right 8px
  top 5px

.slope-class-selector__select-style:after
  top 5px

.slope-class-selector
  -webkit-appearance none
  position absolute
  height 100%
  width 100%
  opacity 0
  left 0
  top 0

.analysis-results__content
  overflow-y auto
  width 100%
  height 100%
  padding 10px 10px 0 10px
  &.footer
    height calc(100% - 100px)
  .analysis-results__chart-component-container
    width 100%

.analysis-results__none-selected
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  .analysis-results__info-container
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 95%
    height 90%
    .analysis-results__chart-icon
      width 100%
      height 180px
    .analysis-results__info
      text-align center
      width 80%
      color $darkGray
      font-size 16px
      margin-top 10px
  .other-options-info
    position: absolute;
    bottom: 5;
    padding: 0 10px;

.analysis-results__footer
  display flex
  flex-direction column
  justify-content space-around
  height 100px
  box-shadow 0px -1px 4px 0 rgba(0, 0, 0, 0.2);
  position absolute
  bottom 0
  right 0
  left 0
  padding 8px 0px

.chart-error
  height auto
  bottom 50%
  top 50%
  position absolute
  left 25%
  color orangered

//- Biomass Loss Charts
.biomass-loss
  height 300px

.analysis__legend-container
  justify-content space-between
  font-size 12px
  display flex

.vega-chart_container
  display flex
  flex-flow column
  align-items center
  margin-top 0.5rem
  .vega-chart_download-container
    display flex
    align-items center
    flex-wrap nowrap
    justify-content space-between
    width 100%
    cursor pointer
  .svg-icon
    width 18px
    height 18px

.vega-chart_click-area
  width 100%
  height 100%
  opacity 0.5
  position absolute
  top 0
  left 0

.vega-chart_download-options
    overflow: auto;
    max-height: 110px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0.75px solid #eee;
    z-index: 2;
    margin-left: auto;
    margin-top: 0.25rem;
  .download-option
    width 100%
    padding 8px 10px
    text-decoration none
    color #555
    font-size 12px
    background #fff
    border 0.75px #eee solid
  &:hover
    background #eee
    text-decoration underline

  .download-option-label
    text-transform uppercase


.analysis-coordinates__select-container
  margin 1rem 0
  
.analysis-coordinates__inputs-container-dms
  padding 0.75rem 0
  
.analysis-coordinates__select
  -webkit-appearance none
  height 25px
  width 100%
  background transparent
  border-radius 0
  padding-left 10px
  left 0
  top 0
  &::after
    pointer-events none
    position absolute
    content '\25BC'
    font-size 10px
    right 5px
    top 5px
    
.analysis-coordinates__select-arrow:after
  pointer-events none
  position absolute
  content '\25BC'
  font-size 12px
  color #e6a912
  right 8px
  top 21px
  
.analysis-coordinates-directions__select
  -webkit-appearance none
  height 25px
  width 18%
  background transparent
  border-radius 0
  padding-left 3px
  left 0
  top 0
  &::after
    pointer-events none
    position absolute
    content '\25BC'
    font-size 10px
    right 5px
    top 5px
  
.analysis-coordinates-directions__select-arrow:after
  pointer-events none
  position absolute
  content '\25BC'
  font-size 12px
  color #e6a912
  right 5px
  bottom 5px
  
.analysis-coordinates__label
.analysis-coordinates__latitude-label
.analysis-coordinates__longitude-label
  font-size 0.75rem
  
.analysis-coordinates__divider-dd
  width 100%
  height 1px
  background-color #ccc
  margin 1rem 0

.analysis-coordinates__divider-dms
  width 100%
  height 1px
  background-color #ccc
  
.analysis-coordinates-remove
  font-size 0.75rem
  font-weight bold
  cursor pointer
  display flex
  align-items center
  justify-content flex-end
  margin 0.26rem 0 0.26rem auto
  width 4rem
  &:hover
    text-decoration underline
    text-decoration-color #e6a912
  .analysis-coordinates-remove-text
    margin-top 0.1rem
    text-transform uppercase
  .svg-icon
    margin 0 !important
    height 1rem !important
    width 1rem !important
  
.analysis-coordinates__latitude-container  
.analysis-coordinates__longitude-container
  position relative
  margin 0.5rem 0
  
.analysis-coordinates__latitude
.analysis-coordinates__longitude
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap nowrap
    
.analysis-coordinates__latitude-measurement
.analysis-coordinates__longitude-measurement
  width 18%
    
.analysis-coordinates__latitude-measurement-label
.analysis-coordinates__longitude-measurement-label
  margin-right 1rem
  margin-left 0.25rem
  font-weight bold
  
.analysis-coordinates-lat-lng-container
  display flex
  justify-content space-between
  align-items center
  .analysis-coordinates__latitude-container
  .analysis-coordinates__longitude-container
    display flex
    flex-flow column
    position none
    margin 0
    .analysis-coordinates__latitude
    .analysis-coordinates__longitude
      justify-content flex-start
      .analysis-coordinates__latitude-measurement
      .analysis-coordinates__longitude-measurement
        width 100%
        height 25px
      .analysis-coordinates__longitude-measurement-label
        margin-right 0
        
.analysis-coordinates-errors
  display flex
  flex-direction column
  flex-wrap nowrap
  width 100%
  .analysis-coordinates-error
    display flex
    justify-content center
    align-items center
    font-weight bold
    color orangered
    width 100%
    font-size 0.75rem
    margin 0.5rem 0

@media (min-width: $mobileBreak)
  .analysis__chart-container
    max-width 270px
    width 270px

//- Restoration Charts should be shorter than others
.restoration-charts .analysis__chart-container
  height 225px

.restoration-error
  border 2px solid $errorRed
  text-align center
  margin 10px auto
  font-weight 500
  padding 10px
  color black

//- Slope specific css
.slope-class-select
  font-size 10px
  margin 5px 0

.slope-class-select__label
  margin-right 10px

.slope-class-select__container
  display inline-block
  width 100px

.slope-class-selector__select-style
  border 1px solid $lightGray
  display inline-block
  padding-right 15px
  padding-left 5px
  font-size 13px
  color black
  width 100%
