.analysis-panel
  overflow-x hidden
  overflow-y auto
  height 100%

.analysis-instructions
.analysis-instructions__draw
.analysis-instructions__upload
  color $grayFont
  padding 10px

.analysis-instructions__header
.analysis-instructions__header--draw
  font-weight 400
  margin 5px 0

.analysis-instructions__header--additional
  text-align center
  font-weight 400
  padding 0 25px
  font-size 13px
  margin-top 0

.analysis-instructions__header--additional .svg-icon
.analysis-instructions__olist .svg-icon
  display inline-block
  position relative
  padding 0 3px
  height 21px
  width 21px
  top 5px

.analysis-instructions__olist
  list-style-type decimal
  font-size 13px
  padding 0 15px

.analysis-instructions__separator
  background-color $goldTheme
  position relative
  text-align center
  font-size 18px
  margin 20px 0
  width 100%
  height 1px

.analysis-instructions__separator-text
  transform translate(-50%, -50%)
  position absolute
  background white
  padding 0 10px
  top 50%

.analysis-instructions__draw-icon-container
  margin 10px 0

.analysis-instructions__draw-icon
  display block
  margin auto
  height 75px
  width 100px
  &.cls-3
    fill $goldTheme
  &.cls-8
    fill white
  &.cls-17
    fill $darkGray

.analysis-instructions__draw-button
  text-transform uppercase
  font-weight bold
  margin 15px

.analysis-instructions__upload-container
  background-color $lightGrayHighlight
  border 2px dashed $lightGray
  border-radius 10px
  position relative
  text-align center
  margin 5px 15px
  font-size 20px
  padding 10px
  cursor copy
  &.active
    font-weight bold
  & input
    display none

.analysis-instructions__upload-label
  pointer-events none

.analysis-instructions__upload-instructions
  font-size 12px
  padding 10px 20px 5px

.analysis-results
  color $grayFont
  width 100%

.analysis-results__title
  border-bottom 1px solid $lightGray
  font-weight normal
  padding 0
  margin 0

.analysis-results__select-label
  font-size 14px
  margin 5px 0
  color black

.analysis-results__select-container
  height: 25px;

.analysis-results__select
  -webkit-appearance none
  position absolute
  height 100%
  width 100%
  background transparent
  border-radius 0
  padding-left 10px
  left 0
  top 0
  &::after
    pointer-events none
    position absolute
    content '\25BC'
    font-size 10px
    right 5px
    top 2px

.analysis-results__select-form
  max-height calc(100% - 200px)
  overflow auto
  .analysis-results__select-form-item-container
    display flex
    flex-direction column
    width 100%
    height 60px
    padding-left 30px
    justify-content space-around
    margin-bottom 20px
    .select-form-item
      width 90%
      align-self center
    .canopy-label
      font-size 14px
  .item-title
    font-size 16px
    font-weight bold
    margin-top 10px
  .item-description
    font-size 12px
    margin-bottom 10px

.analysis-datepicker-button-label
  margin-right 10px

.analysis-item-wrapper
  border-bottom 1px solid rgba(0,0,0,0.2)
  margin-bottom 10px
  &:last-child
    border-bottom none
  .analysis-item-label
    span strong
      border 1px solid
      display inline-flex
      width 25px
      height 25px
      justify-content center
      align-items center
      border-radius 50%
      margin-right 10px

.analysis-results__select-style
  border 1px solid $lightGray
  text-overflow ellipsis
  white-space nowrap
  padding-right 15px
  padding-left 5px
  line-height 2em
  overflow hidden
  font-size 13px
  color black
  height 2em
  width 100%

.analysis-results__select-arrow:after
  pointer-events none
  position absolute
  content '\25BC'
  font-size 12px
  color #e6a912
  right 8px
  top 5px

.slope-class-selector__select-style:after
  top 5px

.slope-class-selector
  -webkit-appearance none
  position absolute
  height 100%
  width 100%
  opacity 0
  left 0
  top 0

.analysis-results__container
  height calc(100% - 50px)

.analysis-results__content
  position absolute
  overflow auto
  width 100%
  height calc(100% - 35px)
  padding 10px
  bottom 100px
  right 0
  left 0
  top 0
  .analysis-results__chart-component-container
    width 100%

.analysis-results__none-selected
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  .analysis-results__info-container
    position relative
    display flex
    flex-direction column
    justify-content center
    width 95%
    height 90%
    .analysis-results__chart-icon
      filter blur(5px)
      opacity 0.15
      height 180px
    .analysis-results__info
      text-align center
      width 100%
      color $darkGray
      font-size 20px
  .other-options-info
    position: absolute;
    bottom: 5;
    padding: 0 10px;

.analysis-results__footer
  position absolute
  bottom 0
  right 0
  left 0

.chart-error
  height auto
  bottom 50%
  top 50%
  position absolute
  left 25%
  color orangered

//- Biomass Loss Charts
.biomass-loss
  height 300px

.analysis__legend-container
  justify-content space-between
  font-size 12px
  display flex

.vega-chart
  width 100%

@media (min-width: $mobileBreak)
  .analysis__chart-container
    max-width 270px
    width 270px

//- Restoration Charts should be shorter than others
.restoration-charts .analysis__chart-container
  height 225px

.restoration-error
  border 2px solid $errorRed
  text-align center
  margin 10px auto
  font-weight 500
  padding 10px
  color black

//- Slope specific css
.slope-class-select
  font-size 10px
  margin 5px 0

.slope-class-select__label
  margin-right 10px

.slope-class-select__container
  display inline-block
  width 100px

.slope-class-selector__select-style
  border 1px solid $lightGray
  display inline-block
  padding-right 15px
  padding-left 5px
  font-size 13px
  color black
  width 100%
