@import 'variables.scss';

.canopy-density-container {
  margin-top: 5px;
  margin-right: 5px;
  .tree-range {
    margin: 40px 10px 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tree {
    background-color: #fff;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    height: 60px;
    background-image: url('../images/tree.png');
  }
  .forest {
    background-color: #fff;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    background-position: bottom right;
    height: 60px;
    background-image: url('../images/forest.png');
  }
}
