.control-panel
  background white
  right 20px
  width 76px
  top 80px

  &.imagery
    top 243px
    padding 3px 0px
    border 1px solid $lightGray
    font-size 9px
    display flex
    justify-content space-between
    cursor pointer
    align-items center
    .pointer
      margin 0 3px
    .imagery_label
      display inline

  &.imagery.active
    svg
      fill #97be32

  &.imagery:active
    background $lightGrayHighlight
  &.imagery:hover
    background $lightGrayHighlight

.control-panel__list
  flex-wrap wrap
  display flex
  padding 0
  margin 0
  & li
    box-sizing border-box
    display flex
    height 38px
    width 38px
  & li:active
    background $lightGrayHighlight
  & li:hover
    background $lightGrayHighlight
  & li.mobile-show
    display none

.control-panel__print .svg-icon
.control-panel__draw-upload .svg-icon
  height 21px
  width 21px

@media (min-width: $mobileBreak)
  .control-panel__list
    border-bottom 1px solid $lightGray
    & li
      border-right 1px solid $lightGray
      border-top 1px solid $lightGray
    & li:nth-child(odd)
      border-left 1px solid $lightGray


@media (max-width: $mobileBreak)
  .control-panel
    bottom 150px
    width 38px
    z-index 4
    top auto

    &.imagery
      bottom 115
      top unset
      padding 5 0
      border-bottom none
      border-right none
      border-left none
      .imagery_label
        display none

  .control-panel__list
    & li
      border-bottom 1px solid $lightGray
    & li.mobile-show
      display flex
    & li.mobile-hide
      display none
