@import 'variables.scss';

.coordinates-form-container {
  display: flex;
  justify-content: center;
  width: inherit;

  .remove-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-left: auto;
    border: none;
    font-weight: 500;
    color: $dark-grey;
    font-family: $fira-sans;
    font-size: 0.75rem;
  }

  hr {
    margin: 1.5rem 0 1.5rem 0;
  }

  .directions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .title {
      font-weight: 400;
      margin-bottom: 0px;
    }

    ol {
      font-size: 13px;
    }

    .dms-wrapper {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      margin-top: 1rem;

      .dms-remove:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      span {
        font-size: 0.75rem;
      }

      .input-wrapper {
        display: flex;

        input {
          @extend %input-fields;
        }

        select {
          width: 2.75rem;
          height: 1.75rem;
        }

        .degree {
          margin-right: 1rem;
        }
      }
    }

    .dds-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      height: 3rem;
      font-size: 0.75rem;

      .degree-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .input-wrapper {
          display: flex;
          flex-direction: row;

          input {
            width: 6rem;
            height: 1.5rem;
          }

          span {
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }

      hr {
        margin: 1rem 0 1rem 0;
      }
    }

    .buttons-wrapper {
      // * NOTE: DMS wrapper
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      font-family: $fira-sans;
    }
  }
}
