@import './variables.scss';

.email-login-container {
  color: #555555;
  font-family: $fira-sans;
  font-size: 0.8rem;
  padding: 10px;
}

.form-section {
  margin-bottom: 15px;
}

.input-label {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #333;
  margin-bottom: 0.3125rem;
  font-weight: 600;
}

.input-sublabel {
  text-transform: uppercase;
  font-size: 0.65rem;
  color: #333;
  margin-bottom: 0.3125rem;
  font-weight: 600;
}

.input-error {
  font-size: 0.75rem;
  color: #ed1846;
  margin-top: 3px;
}

.input-forgot-pass {
  cursor: pointer;
  text-decoration: underline;
}

.bottom-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  align-items: center;
  button {
    border: 0;
    background: none;
    b {
      text-decoration: underline;
    }
  }
}

.input-text {
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px #e5e5df;
  outline: none;
  color: #555;
  height: 2rem;
  padding: 0 0.55rem;
  width: 100%;
  margin-top: 5px;
}

.input-text:focus {
  border-color: #777;
}

.register-success {
  display: grid;
  justify-items: center;

  .tree-success {
    background-color: #fff;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    height: 60px;
    background-image: url('../images/tree-success.png');
    width: 80px;
    height: 100px;
  }
}
