$blue: #0079c1;
$gray: #efefef;
$white: #fff;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // letter-spacing: 0em;
  // font-family: "Arial", sans-serif;
  // line-height: 1.55rem;
}

.mapview-container,
.mapview,
#main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

// .mapview-container {
//   height: calc(100% - 5rem);
// }

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
