@import 'variables.scss';

html,
body,
.mapview-container,
.mapview,
#main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.mapview-container {
  position: absolute;
  top: 0;

  .mapview
    > .esri-view-root
    > .esri-ui
    > .esri-ui-manual-container
    > .esri-attribution {
    display: none;
  }
}

button {
  cursor: pointer;
}

//disable default popup from being visible (we are using its functionality but not the UI)
.esri-popup {
  display: none !important;
}
