@import 'variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
.mapview-container,
.mapview,
#main {
  line-height: 1; // Force line height to be 1, CMS CSS overrides this so we need to do it here
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.mapview-container {
  position: absolute;
  top: 0;
}

button {
  cursor: pointer;
}

.esri-popup {
  display: none !important;
}

.orange-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  min-height: 2rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  background-color: $base-yellow;
  color: $white;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: $fira-sans;
  cursor: pointer;

  svg {
    margin-right: 0.5rem;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 70%;
  left: 45%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #fff;
  animation: spinner 0.6s linear infinite;
  opacity: 0.75;
  margin-top: 0.5rem;
}

.date-time-toggle {
  position: relative;
  background: transparent;
  width: 6rem;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  height: 1.5rem;
  border-radius: 16px;
  -webkit-appearance: none;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid $base-yellow;
  background-color: $white;
  color: $dark-grey;
  font-size: 11px;
}
