.infoWindow
  color $darkGray
  height 100%
  position relative !important

  .feature-name
    border-bottom 1px solid #888
    font-weight bold

  .feature-controls
  .feature-name
    box-sizing content-box
    padding 3px 10px

  .source-row dt
  .source-row dd
    font-size 12px
    text-transform none

  .arrow
    cursor pointer
    float right
  .arrow.right
    margin-left 1em;
  .arrow.disabled
    color $lightGray
    cursor default

  .actions
    button
      background $goldTheme
      border 0
      border-radius 12px
      box-sizing border-box
      color #fff
      margin 2% 5%
      padding 2% 0
      text-transform uppercase
      width 40%

.infoWindow__title
  border-bottom 1px solid #efefef
  margin 0 10px

.infoWindow__attribute-display
  overflow-y auto
  flex-grow 1

.infoWindow__content
  flex-direction column
  position absolute
  display flex
  bottom 56px
  width 100%
  left 0
  top 0

.infoWindow__instructions
  padding 10px

.infoWindow__footer
  display flex
  justify-content space-around
  height 70px
  padding-top 5px
  background-color white
  box-shadow 0px -1px 4px 0 rgba(0, 0, 0, 0.2);
  position absolute
  bottom 0
  right 0
  left 0

.infoWindow__clearFeatures-icon
  margin-left 1em
  float right
  height 20px
  width 20px

.infoWindow__no-configure
  margin 10px

.custom-feature__header
  display flex
  justify-content space-between

.edit-delete-container
  display flex
  margin 0.5rem 0

.custom-feature__input
  -webkit-appearance none
  outline none
  border none
  width 8rem

.pointer-custom
  cursor pointer

.custom-feature__content
  padding 10px

//- Esri Overrides
.esriViewPopup .header
  padding 0 10px

.esriViewPopup .header
.infoWindow__title
.custom-feature__input
  color $grayFont
  font-size 14px

.custom-feature__delete
  margin-left 10px
  align-self flex-end
  color $grayFont
  font-size 14px
  padding 0.5rem 0
  &:hover
    text-decoration underline
  
.custom-feature__edit
  color #ffffff
  background-color #e6a912
  padding 0.5rem 1rem
  font-size 14px
  &:hover
    text-decoration underline

.esriViewPopup .hzLine
  margin 5px 10px

.esriViewPopup .mainSection .attrTable
  font-size 12px
  width 100%

.map .esriViewPopup .mainSection .attrTable td.attrName
  padding-left 10px
  font-weight bold
  color #555

.esriViewPopup .attrTable tr:nth-child(even)
  background-color $selectionGray

.esriPopup, .attachmentsSection
  display none
//- Esri Overrides
