.infoWindow
  color $darkGray
  height 100%
  position relative !important

  .feature-name
    border-bottom 1px solid #888
    font-weight bold

  .feature-controls
  .feature-name
    box-sizing content-box
    padding 3px 10px

  .source-row dt
  .source-row dd
    font-size 12px
    text-transform none

  .arrow
    cursor pointer
    
  .arrow.disabled
    color $lightGray
    cursor not-allowed

  .actions
    button
      border 0
      border-radius 12px
      box-sizing border-box
      color #fff
      margin 2% 5%
      padding 2% 0
      text-transform uppercase
      width 40%

.infoWindow__title
  border-bottom 1px solid #efefef
  margin 0 10px
  overflow-y auto

.infoWindow__attribute-display
  overflow-y auto
  flex-grow 1

.infoWindow__content
  flex-direction column
  position absolute
  display flex
  bottom 56px
  width 100%
  left 0
  top 0

.infoWindow__instructions
  padding 10px

.infoWindow__footer
  display flex
  justify-content space-around
  height 70px
  padding-top 5px
  background-color white
  box-shadow 0px -1px 4px 0 rgba(0, 0, 0, 0.2);
  position absolute
  bottom 0
  right 0
  left 0

.infoWindow__clearFeatures-icon
  height 20px
  width 20px
  display flex
  flex-wrap nowrap
  margin-left auto

.infoWindow__no-configure
  margin 10px

.custom-feature__header
  display flex
  justify-content space-between

.edit-delete-container
  display flex
  margin 0.5rem 0
  .edit-save-button
    height 30px !important 
    line-height 30px !important
    padding 0 1rem !important

.custom-feature__input
  -webkit-appearance none
  outline none
  border none
  width 8rem

.pointer-custom
  cursor pointer

.custom-feature__content
  padding 10px
  
.infoWindow__select-container
  height 25px
  margin-top 0.5rem
  display flex
  flex-wrap nowrap
  justify-content space-between
  align-items center
  
.infoWindow__select
  -webkit-appearance none
  position relative
  height 100%
  width 50%
  background #fff
  border-radius 0
  padding-left 5px
  padding-right 20px
  left 0
  top 0
  &::after
    pointer-events none
    position absolute
    content '\25BC'
    font-size 10px
    right 5px
    top 2px
    
.infoWindow__select-arrow:after
  pointer-events none
  position absolute
  content '\25BC'
  font-size 12px
  color inherit
  left 42%
  top 5px
  
.infoWindow__prev-next-container
  display flex
  justify-content space-between
  align-items center
  margin-left 1%
  .prev
    &:first-child
      margin 0 0.3rem
  .prev
  .next
    margin 0 0.15rem
    padding 0 1rem
    height 25px
    line-height 25px

.infoWindow__count
  color $darkGray
  margin 0.5rem 0
  width 100%
  display flex
  justify-content flex-end
  font-size 0.75rem
  padding-right 1rem

//- Esri Overrides
.esriViewPopup .header
  margin 0.5rem 0

.esriViewPopup .header
.infoWindow__title
.custom-feature__input
  color $grayFont
  font-size 14px

.custom-feature__delete
  margin-left 10px
  align-self flex-end
  color $grayFont
  font-size 14px
  padding 0.5rem 0
  &:hover
    text-decoration underline

.esriViewPopup .hzLine
  margin 5px 10px

.esriViewPopup .mainSection .attrTable
  font-size 12px
  width 100%

.map .esriViewPopup .mainSection .attrTable td.attrName
  font-weight bold
  color #555

.esriViewPopup .attrTable tr:nth-child(even)
  background-color $selectionGray

.esriPopup, .attachmentsSection
  display none
  
.esriViewPopup .mainSection .attrTable td
  padding 0 !important
  padding-bottom 5px !important
  
td.attrName
  text-align left
  
td.attrValue
  text-align right
  
//- Esri Overrides
