@import 'variables.scss';

.left-panel {
  z-index: 1;
  position: absolute;
  top: 140px;
  left: 20px;
  width: 300px;
  background: $white;
  box-shadow: 0px 1px 2px rgba(85, 85, 85, 0.25);
  overflow-y: auto;
  max-height: 34rem;
  overflow-y: scroll;

  .info-content-container {
    display: flex;
    min-height: 5rem;
  }

  .analysis-tab-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30rem;
    font-family: $fira-sans;

    h4,
    ol {
      font-size: 0.85rem;
      color: #6f6f6f;
    }

    .directions {
      display: flex;
      align-items: center;
      flex-direction: column;

      figure:first-of-type {
        margin: 2rem 1.5rem 0 1.5rem;
      }

      figure {
        margin: 0 1.5rem 0 1.5rem;

        figcaption {
          h4 {
            margin: 0;
          }
        }

        ol {
          padding-left: 1rem;
        }
      }

      .span-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: fit-content;
        margin: 1.5rem 0;
        color: rgb(111, 111, 111);

        span {
          border-top: 1px solid $base-yellow;
          width: 7rem;
          margin-top: auto;
          margin-bottom: auto;

          &.left {
            margin-right: 0.5rem;
          }

          &.right {
            margin-left: 0.5rem;
          }
        }
      }

      .drop-shapefile-container {
        display: flex;
        flex-direction: column;

        h4 {
          line-height: 1.5rem;
          text-align: center;
          margin: 0 1rem 0 1rem;
        }

        .upload-disclaimer {
          font-size: 0.85rem;
          color: #6f6f6f;
        }
      }
    }
  }
}

.tabview-container {
  height: 600px;
  color: $dark-grey;
}

.tab-header-container {
  display: flex;
}

.tab-button {
  background: #eee;
  border: 0;
  justify-content: center;
  height: 40px;
  display: flex;
  flex-grow: 1;
  border-left: 1px solid #aaa;
  outline: 0;
}

//First tab from the left should not have border on the left
.tab-header-container button:first-child {
  border-left: none;
}

.tab-button:hover {
  cursor: pointer;
}

.tab-button__active {
  background: $white;
}

//Overwriting styles that come by default from react-tooltip
.tab-tooltip {
  box-shadow: 0 1px 3px rgba(85, 85, 85, 0.25) !important;
  background: #fffee2 !important;
  color: #555 !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  &.place-top {
    &:after {
      border-top-color: #fffee2 !important;
      border-top-style: solid !important;
    }
  }
}

.all-layer-control-container {
  padding: 2px 10px;
  height: 30px;
  border-bottom: solid 1px #aaa;
  margin-bottom: 10px;
  font-family: $fira-sans;
  color: $light-grey;

  button {
    height: 100%;
    outline: 0;
    cursor: pointer;
    border: 0;
    text-decoration: underline;
    float: right;
    background-color: $white;
  }
}

.layers-control-container {
  color: $dark-grey;

  .layers-control-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .layer-label {
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }

    .info-ifon-container,
    .layer-checkbox {
      flex-grow: 0;
    }

    .layer-label {
      flex-grow: 1;
    }
  }
}

.transparency-slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 1.5rem;
  width: 100%;
}

.info-icon-container {
  background-color: #f0ab00;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  color: red;
}

.layer-group-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  font-family: $fira-sans;
  font-size: 1rem;

  .layer-group-title {
    .caret-button {
      background-color: $white;
    }
  }
}

.layer-group-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  border-bottom: solid 1px #555;

  span {
    text-transform: uppercase;
  }

  .caret-button {
    outline: 0;
    border: 0;
    font-size: 1.2rem;
  }
}

.layer-basemap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  font-family: $fira-sans;
  font-size: 0.85rem;

  img {
    border-radius: 50px;
    width: 44px;
    height: 44px;
    margin: 10px;
    vertical-align: middle;
  }
}

.layer-basemap.selected {
  background: #f2f2f2;
}

//DATA PANEL STYLES, may need to extract this into separate file
.data-tab-default-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fira-sans;

  figure {
    margin-bottom: 0;
    font-size: 0.85rem;

    figcaption {
      margin: 0;
      font-size: 0.87rem;
    }

    ol {
      padding-left: 1rem;
      font-size: 0.8rem;
    }
  }

  svg {
    align-items: center;
  }
}

.data-tabview-container {
  hr {
    width: 90%;
  }
  .layer-feature-group {
    table {
      overflow-wrap: break-word;
      font-size: 13px;
      color: #555;
      width: 100%;
      tbody:nth-child(odd) tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      td.first-cell {
        max-width: 1px; //this is to make break word work inside a table cell
        font-weight: bold;
        padding: 10px;
      }
      td.second-cell {
        max-width: 1px; //this is to make break word work inside a table cell
        text-align: right;
        padding: 10px;
      }
    }
    .layer-control-container {
      .remove-attribute-button {
        display: flex;
        justify-content: flex-end;
        button {
          -webkit-appearance: none;
          outline: none;
          border: 0;
        }
      }
    }
    .layer-control {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        background-color: #fff;
        background-image: url('../images/down-arrow.png');
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.75em auto, 100%;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        display: block;
        height: 100%;
        border-radius: 0;
        padding-left: 5px;
        padding-right: 20px;
        left: 0;
        top: 0;
      }
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }
      option:after {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
    }
    .page-numbers {
      color: #555;
      display: flex;
      justify-content: flex-end;
      font-size: 0.85rem;
      margin-right: 1rem;
    }
    .layer-title {
      color: #6f6f6f;
      font-size: 14px;
      text-align: center;
      margin: 0.5rem 0.5rem 0.5rem;
      font-weight: bold;
    }
    .attribute-page-button {
      margin-left: 5px;
      font-size: 14px;
      border: 0;
      border-radius: 35px;
      line-height: 25px;
      padding: 0 1rem;
      background-color: $base-yellow;
      cursor: pointer;
      color: #fff;
    }
    .attribute-page-button.disabled {
      background-color: rgb(238, 238, 238);
      cursor: disabled;
      color: #555;
    }
  }
  .data-tabview-footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px -1px 4px 0 rgba(0, 0, 0, 0.2);
    button {
      border: 1px solid $base-yellow;
      text-transform: uppercase;
      -webkit-appearance: none;
      font-weight: 500;
      font-size: 12px;
      outline: none;
      line-height: 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: inherit;
      border-radius: 16px;
      color: #555;
      padding: 10px;
      img {
        margin-left: 7px;
      }
    }
  }
}

@media screen and (max-width: $mobile-device) {
  .left-panel
    > .analysis-tab-container
    > .directions
    > .drop-shapefile-container
    h4 {
    display: none;
  }

  .left-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0px;
    z-index: 2;
    max-height: unset;
  }
}
