@import './variables.scss';

.legend-container {
  font-family: $fira-sans;
  width: 300px;
  max-height: 400px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  line-height: 1.3em;
  background-color: #ffffff;
  overflow-x: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
  margin-bottom: 50px;
  margin-right: 15px;
  .legend-title {
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    p {
      text-transform: uppercase;
      margin: 0.5rem;
      padding: 0;
      font-size: 14px;
      color: rgb(85, 85, 85);
      font-weight: 400;
      line-height: 23.8px;
    }
    .caret-button {
      outline: 0;
      border: 0;
      font-size: 1.2rem;
      background-color: white;
    }
  }
  .legend-item-container {
    text-align: left;
    margin: 0.5rem;
    font-size: 13px;

    .layer-item {
      .layer-title {
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 22.1px;
      }
      .label-item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        align-items: center;
        p {
          margin: 0;
          padding: 0;
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 22.1px;
        }
      }
    }
  }
}
