@import 'variables.scss';

.modal-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 4;
  padding: 1rem;
  background: $white;
  font-family: $fira-sans;
  color: $dark-grey;

  overflow-y: scroll;
  left: 50%;
  top: 50%;
  margin-left: -10rem; // * NOTE: -10rem = negative half the width of .modal-card-container
  margin-top: -7.5rem; // * NOTE: -7.5rem = negative half the height of .modal-card-container
  width: 20rem;
  height: 15rem;

  .exit-button {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    background-color: $white;

    svg {
      height: 2rem;
      width: 1rem;
    }
  }

  &.pen-widget {
    height: 30rem;
    top: 30%;
  }

  &.measure-widget {
    top: 25%;
    left: 75%;
    height: 7.5rem;
    width: 17rem;
  }

  &.print-widget {
    .directions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  .orange-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 2rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    background-color: $base-yellow;
    color: $white;
    margin: 0 auto;
    margin-top: 1rem;
    font-family: $fira-sans;

    svg {
      margin-right: 0.5rem;
    }
  }

  @media screen and (max-width: $mobile-device) {
    .modal-card-container {
      width: 15rem;
      margin-left: -8.5rem; // * NOTE: -8.5rem is an estimate
    }
  }
}

.dim-container {
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  width: 100%;
  background-color: $black;
  top: 0;
  height: 100%;

  &.measure-widget {
    display: none;
  }
}
