$header-height: 50px;

.modal-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 4;
  padding: 1rem;
  background: white;

  .exit-button {
    position: absolute;
    border: none;
    right: 0;
    top: 0;

    svg {
      height: 2rem;
      width: 1rem;
    }
  }
}

.dim-container {
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  width: 100%;
  background-color: black;
  top: 0;
  height: 100%;
}

.print-modal {
  height: 115px;
  width: 225px;
  top: 35%;
  left: 40%;
}

.share-modal {
  width: 300px;
  height: 225px;
  top: 35%;
  left: 40%;
}

.pen-modal {
  height: 500px;
  width: 320px;
  top: 20%;
  left: 40%;
}

.search-modal {
  width: 390px;
  height: 160px;
  top: 35%;
  left: 35%;
}
