.app-header__nav
  display flex
  flex 1

.app-header__nav a
  text-decoration none
  display flex
  color black

.app-header__nav-list
  height $headerHeight
  margin-right 20px
  margin-left auto
  font-size 12px
  display flex

.svg-icon__nav
  margin auto 4px
  fill $darkGray
  height 16px
  width 16px

.app-header__nav-link:hover .svg-icon__nav
  fill $goldTheme

.app-header__nav-link
  text-transform uppercase
  align-items center
  position relative
  padding 0 5px
  display flex

.app-header__nav-link.login-open
  background gray

.app-header__theme-list
.app-header__language-list
  border-top 3px solid $goldTheme
  transform translate(-50%, 0)
  background-color white
  position absolute
  min-width 175px
  display none
  z-index 10
  top $headerHeight - 3px
  overflow-x hidden
  overflow-y auto
  max-height 80vh
  left 50%

.app-header__language-list
  min-width 100px

.app-header__nav-link--map-themes:hover .app-header__theme-list
.app-header__nav-link--language:hover .app-header__language-list
    display block

.login-modal
  position absolute
  right 10px
  z-index 100
  top 50px
  min-width 400px
  max-width 400px
  background white
  padding 40px
  p
    color #333
    font-size 14px
    text-transform none
  a
    color #97bd3d
    display inline
  .subscribe-method
    text-align center
    margin-top 20px
    color white
  ul span
    color white

.twitter-box
  background #598dca

.facebook-box
  background #39579b

.google-box
  background #da4735

.options-modal
  position absolute
  right 10px
  z-index 100
  top 50px
  min-width 200px
  max-width 200px
  background white

.gfw-api-option
  padding 12px 15px
  max-width none
  margin-right 0!important
  p
    margin-bottom 0
    margin-top 0
    cursor pointer

.subscription-authentication
  padding-left 0
  list-style none

.app-header__theme
.app-header__language
  border-bottom 1px solid $lightGray
  padding 10px

.app-header__language.active
  font-weight bold

@media (max-width: 1000px)
  .app-header__theme-list
    bottom $headerHeight
    box-shadow none
    border-top none
    top auto

@media (max-width: $mobileBreak)
  .app-header__nav
    display none
