@import 'variables.scss';

.pen-content-container {
  .directions {
    display: flex;
    align-items: center;
    flex-direction: column;

    .polygon-icon {
      margin: 0 auto;
    }

    figure {
      margin-bottom: 0;

      figcaption {
        h4 {
          margin: 0;
          font-weight: 400;
          line-height: 23.8px;
          font-size: 0.875rem;
          color: rgb(111, 111, 111);
        }
      }

      ol {
        padding-left: 1rem;

        li {
          color: rgb(111, 111, 111);
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 22.1px;
        }
      }
    }

    hr {
      width: 75%;
    }

    .orange-button {
      font-size: 0.875rem;
      line-height: 15px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: $mobile-device) {
  .pen-content-container {
    .directions {
      figure {
        margin: 1rem 1rem 0 1rem;
      }
    }
  }
}
