.report-sub-buttons
  justify-content center
  align-items center
  background-color $lightGrayHighlight
  display flex
  height 35px

.report-sub-buttons button, .subscription-sub-buttons button
  text-transform uppercase
  -webkit-appearance none
  height 100%
  width 50%
  font-weight 500
  font-size 13px
  outline none
  border none
  color $darkGray
  background-color inherit
  &.left-border-separator
    border-left 2px solid $darkGray
  &:hover
    background-color $goldTheme
    color darken($darkGray, 30%)

.run-analysis-button-container
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  height 150px
  width 100%
  .run-analysis-button
    border 2px solid $goldTheme
    height 75px
    width 75px
    border-radius 50%
    polygon
      stroke $goldTheme
      fill $goldTheme
      stroke-width: 10px;
      stroke-linejoin: round;


// .subscription-sub-buttons button
//   justify-content right
//   align-items right
//   display flex
//   float left

// .subscription-sub-buttons button:last-of-type
//   justify-content left
//   align-items left
//   display flex
//   float right
