.report {
  p {
    margin: 0;
    padding: 0;
  }
  display: grid;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-items: center;

  .mapview-container,
  .mapview,
  #main {
    padding: 0;
    margin: 0;
  }

  .mapview-container {
    position: relative;
    height: 400px;
    max-width: 900px;
  }
  .report-map {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .report-header {
    background-color: #555;
    height: 50px;
    width: 90%;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 5px;
    align-items: center;
    button {
      border: none;
      outline: none;
      background-color: rgba(0, 0, 0, 0);
    }
    .title {
      margin-left: 1rem;
      color: #fff;
      white-space: nowrap;
      line-height: 25px;
      font-size: 20px;
    }
  }
}
