@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.ttf') format('Truetype');
}

$font: 'Fira Sans', sans-serif;

.share-widget-container {
  display: block;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 1;

  background-color: #ffffff;

  font-size: 14px;
  color: #6e6e6e;
  width: 32px;
  height: 32px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: background-color 125ms ease-in-out;

  margin-top: 2rem;
  margin-right: 2rem;

  .image-wrapper {
    display: flex;
    height: auto;
    width: 38px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;

    .svg-icon {
      fill: #555;
      display: block;
      margin: auto;
      height: 25px;
      width: 25px;
    }
  }
}

.share-content-container {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: calc(50% - 150px);

  width: 300px;
  background: white;
  border: 1px solid red;

  .exit-button {
    position: absolute;
    border: none;
    right: 0;

    svg {
      height: 2rem;
      width: 1rem;
    }
  }

  .directions {
    margin: 1rem;
    font-family: $font;

    .title {
      text-align: center;
    }

    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 475px) {
  .image-wrapper,
  .exit-button {
    background: white;
  }
}
