@import 'variables.scss';

.upload-container {
  display: flex;
  flex-wrap: wrap;

  .upload-wrapper {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #eee;
    border: 2px dashed #aaa;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 1rem 2rem;
    padding: 10px;
    cursor: copy;

    span {
      font-family: $fira-sans;
      font-size: 1.25rem;
      color: rgb(111, 111, 111);
      line-height: 34px;
    }
  }

  .shapefile-instructions {
    font-size: 0.75rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(111, 111, 111);
    line-height: 20.4px;

    &.red {
      color: red;
    }
  }
}

@media screen and (max-width: $mobile-device) {
  .shapefile-instructions,
  .upload-container {
    display: none;
  }
}
