/* COLORS
============================================= */

$white: #fff;
$base-yellow: rgb(240, 171, 0);
$light-grey: rgb(85, 85, 85);
$medium-dark-grey: #aaa;
$dark-grey: #555;
$black: black;
$header-color: rgba(255, 255, 255, 0.5);
$dropdown-border: #ddd;

/* FEATURE DIMENSIONS
============================================= */

$header-height: 50px;
$map-widget-square: 38px;
$map-widget-svg: 21px;
$measure-content-button-height: 1.85rem;

%input-fields {
  width: 2.75rem;
  height: 1.5rem;
}

/* FONTS
============================================= */

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.ttf') format('Truetype');
}

$fira-sans: 'Fira Sans', sans-serif;

/* MEDIA QUERY, DEVICE WIDTH
============================================= */

$mobile-device: 475px;

/* MISC GLOBAL CLASSES
============================================= */

.hide {
  // * NOTE - to be conditionally added/removed across the app, as needed!
  display: none;
}
