#map-page
  min-height unset !important

@media (max-width: 768px)
  .jlx-page-content
    height 100% !important
    .jlx-content-full
      height 100% !important
      .row
        height 100% !important
        #map-page
          height 72% !important
