doctype
html
  head

  body.tundra
    #root
    div#share-modal.modal-wrapper.hidden
    script(id='library-load' src='https://beta.blueraster.io/mapbuilder/external-debugging/1.2.2.js')
    //- script(id='library-load' src='js/library.js')

    script.
      var customApp = new MapBuilder({
        el: 'root',
        config: {
          "webmap": "6142e76453354c0b83633370e6a6f006",
          "title": "Atlas Forestier du Cameroun",
          "subtitle": "Ministère des Forêts et de la Faune",
          "webmapMenuName": "Affectation des Terres",
          "logoUrl": "https://cmr.forest-atlas.org/system/site_settings/images/000/000/094/original/CAMEROON.png?1487267590",
          "logoLinkUrl": "http://www.minfof.cm/",
          "aboutLinkUrl": "",
          "downloadLinkUrl": "",
          "printServiceUrl": "https://gis.forest-atlas.org/server/rest/services/print/ExportWebMap/GPServer/Export%20Web%20Map",
          "maskServiceUrl": "",
          "mapThemeIds": "",
          "mapThemes": "",
          "narrative": "<p>Ce thème présente la situation générale de l\'affectation des terres au Cameroun. Sont représentés : les permis minier (d\'exploitation et de recherche), les zones d\'intérêt cynégétique, les ventes de coupe, les forêts de production (UFA et forêt communale), les forêts communautaires, les aires protégées, les réserves forestières et les plantations agro industrielle.</p>",
          "includeSubscribeButton": false,
          "includeMyGFWLogin": true,
          "navLinksInNewTab": false,
          "language": "fr",
          "useAlternativeLanguage": true,
          "alternativeWebmap": "b96ee7fcd75e405dbf9a8b5a44ae734a",
          "alternativeLanguage": "en",
          "alternativeLanguageTitle": "Forest Atlas of Cameroon",
          "alternativeLanguageSubtitle": "Ministry of Forest and Wildlife",
          "alternativeMapThemes": "",
          "alternativeNarrative": "<p>This map show the general land use allocation in Cameroon. It includes mining permits, hunting zones, various forest titles as well as agro-industrial plantations</p>",
          "alternativeWebmapMenuName": "Land Use",
          "includeDocumentsTab": true,
          "includeMeasurementTab": true,
          "iso": "CMR",
          "hideHeader": false,
          "hideFooter": false,
          "viirsFires": true,
          "modisFires": true,
          "intactForests": true,
          "aboveGroundBiomass": true,
          "landCover": true,
          "mangroves": false,
          "sadAlerts": false,
          "gladAlerts": true,
          "terraIAlerts": true,
          "sharinghost": "https://www.arcgis.com",
          "analyticsCode": "UA-62288390-1",
          "analysisModules": [{
              "analysisId": "TC_LOSS_GAIN",
              "label": {
                  "en": "Total tree cover loss/ gain",
                  "fr": "Total perte/ gain en couvert arboré",
                  "es": "Pérdida/ Aumento de la cobertura arbórea",
                  "pt": "Perda/ Ganho de cobertura arbórea",
                  "id": "Total tree cover loss/ gain",
                  "zh": "森林覆盖损失/ 森林覆盖增加",
                  "ka": "ხის ვარჯის კარგვა/ ნამატი"
              },
              "title": {
                  "en": "Forest Loss Analysis",
                  "fr": "Forest Loss Analysis",
                  "es": "Forest Loss Analysis",
                  "pt": "Forest Loss Analysis",
                  "id": "Forest Loss Analysis",
                  "zh": "Forest Loss Analysis",
                  "ka": "Forest Loss Analysis"
              },
              "description": {
                  "en": "Select range and tree cover density then click the run analysis button to see results",
                  "fr": "Select range and tree cover density then click the run analysis button to see results",
                  "es": "Select range and tree cover density then click the run analysis button to see results",
                  "pt": "Select range and tree cover density then click the run analysis button to see results",
                  "id": "Select range and tree cover density then click the run analysis button to see results",
                  "zh": "Select range and tree cover density then click the run analysis button to see results",
                  "ka": "Select range and tree cover density then click the run analysis button to see results"
              },
              "chartType": "badge",
              "valueAttribute": "data.attributes.loss",
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/umd-loss-gain",
              "uiParams": [{
                  "inputType": "rangeSlider",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "bounds": [2001, 2017],
                  "valueType": "date",
                  "label": {
                      "en": "Select range for analysis",
                      "fr": "Select range for analysis",
                      "es": "Select range for analysis",
                      "pt": "Select range for analysis",
                      "id": "Select range for analysis",
                      "zh": "Select range for analysis",
                      "ka": "Select range for analysis"
                  }
              }, {
                  "name": "thresh",
                  "inputType": "tcd",
                  "label": {
                      "en": "Select tree cover density: ",
                      "fr": "Select tree cover density: ",
                      "es": "Select tree cover density: ",
                      "pt": "Select tree cover density: ",
                      "id": "Select tree cover density: ",
                      "zh": "Select tree cover density: ",
                      "ka": "Select tree cover density: "
                  }
              }]
          }, {
              "analysisId": "TC_LOSS",
              "label": {
                  "en": "Tree cover loss",
                  "fr": "Perte en couvert arboré",
                  "es": "Pérdida de la cobertura arbórea",
                  "pt": "Perda de cobertura arbórea",
                  "id": "Tree cover loss",
                  "zh": "森林覆盖损失",
                  "ka": "ხის ვარჯის კარგვა"
              },
              "title": {
                  "en": "Tree cover loss",
                  "fr": "Perte en couvert arboré",
                  "es": "Pérdida de la cobertura arbórea",
                  "pt": "Perda de cobertura arbórea",
                  "id": "Tree cover loss",
                  "zh": "森林覆盖损失",
                  "ka": "ხის ვარჯის კარგვა"
              },
              "description": {
                  "en": "Select range and tree cover density then click the run analysis button to see results",
                  "fr": "Select range and tree cover density then click the run analysis button to see results",
                  "es": "Select range and tree cover density then click the run analysis button to see results",
                  "pt": "Select range and tree cover density then click the run analysis button to see results",
                  "id": "Select range and tree cover density then click the run analysis button to see results",
                  "zh": "Select range and tree cover density then click the run analysis button to see results",
                  "ka": "Select range and tree cover density then click the run analysis button to see results"
              },
              "chartType": "bar",
              "chartBounds": [2001, 2017],
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/umd-loss-gain",
              "uiParams": [{
                  "inputType": "rangeSlider",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "bounds": [2001, 2017],
                  "valueType": "date",
                  "label": {
                      "en": "Select range for analysis",
                      "fr": "Select range for analysis",
                      "es": "Select range for analysis",
                      "pt": "Select range for analysis",
                      "id": "Select range for analysis",
                      "zh": "Select range for analysis",
                      "ka": "Select range for analysis"
                  }
              }, {
                  "name": "thresh",
                  "inputType": "tcd",
                  "label": {
                      "en": "Select tree cover density: ",
                      "fr": "Select tree cover density: ",
                      "es": "Select tree cover density: ",
                      "pt": "Select tree cover density: ",
                      "id": "Select tree cover density: ",
                      "zh": "Select tree cover density: ",
                      "ka": "Select tree cover density: "
                  }
              }],
              "params": [{
                  "name": "aggregate_values",
                  "value": "false"
              }]
          }, {
              "analysisId": "BIO_LOSS",
              "label": {
                  "en": "Aboveground Live Woody Biomass Density",
                  "fr": "Densité de la biomasse aérienne vivante",
                  "es": "Densidad de la biomasa viva en la superficie del suelo",
                  "pt": "Densidade de biomassa viva acima do solo",
                  "id": "Aboveground Live Woody Biomass Density",
                  "zh": "Aboveground Live Woody Biomass Density",
                  "ka": "მიწისზედა ცოცხალი ტყის ბიომასის სიხშირე"
              },
              "title": {
                  "en": "Aboveground Live Woody Biomass Density",
                  "fr": "Densité de la biomasse aérienne vivante",
                  "es": "Densidad de la biomasa viva en la superficie del suelo",
                  "pt": "Densidade de biomassa viva acima do solo",
                  "id": "Aboveground Live Woody Biomass Density",
                  "zh": "Aboveground Live Woody Biomass Density",
                  "ka": "მიწისზედა ცოცხალი ტყის ბიომასის სიხშირე"
              },
              "chartType": "biomassLoss",
              "colors": {
                  "loss": "#FF6699",
                  "carbon": "#BEBCC2"
              },
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/biomass-loss",
              "uiParams": [{
                  "inputType": "rangeSlider",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "bounds": [2001, 2014],
                  "valueType": "date",
                  "label": {
                      "en": "Select range for analysis",
                      "fr": "Select range for analysis",
                      "es": "Select range for analysis",
                      "pt": "Select range for analysis",
                      "id": "Select range for analysis",
                      "zh": "Select range for analysis",
                      "ka": "Select range for analysis"
                  }
              }, {
                  "name": "thresh",
                  "inputType": "tcd",
                  "label": {
                      "en": "Select tree cover density: ",
                      "fr": "Select tree cover density: ",
                      "es": "Select tree cover density: ",
                      "pt": "Select tree cover density: ",
                      "id": "Select tree cover density: ",
                      "zh": "Select tree cover density: ",
                      "ka": "Select tree cover density: "
                  }
              }]
          }, {
              "analysisId": "IFL",
              "label": {
                  "en": "Intact Forest Landscape",
                  "fr": "Paysage forestier intact",
                  "es": "Paisajes Forestales Intactos",
                  "pt": "Paisagens Florestais Intactas",
                  "id": "Intact Forest Landscape",
                  "zh": "原生森林景观",
                  "ka": "ხელუხლებელი ტყის ლანდშაფტი"
              },
              "chartType": "bar",
              "chartBounds": [2001, 2015],
              "colors": ["#186513"],
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/loss-by-landcover",
              "params": [{
                  "name": "layer",
                  "value": "ifl2000"
              }],
              "uiParams": [{
                  "inputType": "rangeSlider",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "bounds": [2001, 2015],
                  "valueType": "date",
                  "label": {
                      "en": "Select range for analysis",
                      "fr": "Select range for analysis",
                      "es": "Select range for analysis",
                      "pt": "Select range for analysis",
                      "id": "Select range for analysis",
                      "zh": "Select range for analysis",
                      "ka": "Select range for analysis"
                  }
              }, {
                  "name": "thresh",
                  "inputType": "tcd",
                  "label": {
                      "en": "Select tree cover density: ",
                      "fr": "Select tree cover density: ",
                      "es": "Select tree cover density: ",
                      "pt": "Select tree cover density: ",
                      "id": "Select tree cover density: ",
                      "zh": "Select tree cover density: ",
                      "ka": "Select tree cover density: "
                  }
              }]
          }, {
              "analysisId": "GLAD_ALERTS",
              "label": {
                  "en": "GLAD Alerts",
                  "fr": "Alertes GLAD",
                  "es": "Alertas GLAD",
                  "pt": "Alertas GLAD",
                  "id": "GLAD Alerts",
                  "zh": "GLAD Alerts",
                  "ka": "GLAD შეტყობინებები"
              },
              "title": {
                  "en": "GLAD Alerts",
                  "fr": "Alertes GLAD",
                  "es": "Alertas GLAD",
                  "pt": "Alertas GLAD",
                  "id": "GLAD Alerts",
                  "zh": "GLAD Alerts",
                  "ka": "GLAD შეტყობინებები"
              },
              "chartType": "timeSeries",
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/glad-alerts",
              "uiParams": [{
                  "inputType": "datepicker",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "multi": true,
                  "defaultStartDate": "2016-01-01",
                  "minDate": "2015-01-01",
                  "label": {
                      "en": "Select range for analysis",
                      "fr": "Select range for analysis",
                      "es": "Select range for analysis",
                      "pt": "Select range for analysis",
                      "id": "Select range for analysis",
                      "zh": "Select range for analysis",
                      "ka": "Select range for analysis"
                  }
              }],
              "params": [{
                  "name": "aggregate_values",
                  "value": "true"
              }, {
                  "name": "aggregate_by",
                  "value": "day"
              }]
          }, {
              "analysisId": "TERRAI_ALERTS",
              "label": {
                  "en": "Terra-I Alerts",
                  "fr": "Alertes Terra-I",
                  "es": "Alertas Terra-I",
                  "pt": "Alertas Terra-I",
                  "id": "Terra-I Alerts",
                  "zh": "Terra-I Alerts",
                  "ka": "Terra-I შეტყობინებები"
              },
              "chartType": "timeSeries",
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/terrai-alerts",
              "uiParams": [{
                  "inputType": "datepicker",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "multi": true,
                  "defaultStartDate": "2006-06-20",
                  "minDate": "2004-01-01",
                  "maxDate": "2016-07-12",
                  "label": {
                      "en": "Select date(s) for analysis",
                      "fr": "Select date(s) for analysis",
                      "es": "Select date(s) for analysis",
                      "pt": "Select date(s) for analysis",
                      "id": "Select date(s) for analysis",
                      "zh": "Select date(s) for analysis",
                      "ka": "Select date(s) for analysis"
                  }
              }],
              "params": [{
                  "name": "aggregate_values",
                  "value": "true"
              }, {
                  "name": "aggregate_by",
                  "value": "day"
              }]
          }, {
              "analysisId": "VIIRS_FIRES",
              "label": {
                  "en": "VIIRS Active Fires",
                  "fr": "Feux actifs VIIRS",
                  "es": "Incendios activos VIIRS",
                  "pt": "Incêndios ativos VIIRS",
                  "id": "VIIRS Active fires",
                  "zh": "活跃火点 VIIRS",
                  "ka": "VIIRS აქტიური ხანძრები"
              },
              "chartType": "badge",
              "valueAttribute": "data.attributes.value",
              "badgeLabel": {
                  "en": "Active Fires",
                  "fr": "Feux actifs",
                  "es": "Incendios activos",
                  "pt": "Incêndios ativos",
                  "id": "Active fires",
                  "zh": "活跃火点",
                  "ka": "აქტიური ხანძრები"
              },
              "color": "#5ea1ed",
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/viirs-active-fires",
              "uiParams": [{
                  "inputType": "datepicker",
                  "startParamName": "period",
                  "combineParams": true,
                  "valueSeparator": ",",
                  "multi": true,
                  "minDate": "2004-01-01",
                  "label": {
                      "en": "Select date(s) for analysis",
                      "fr": "Select date(s) for analysis",
                      "es": "Select date(s) for analysis",
                      "pt": "Select date(s) for analysis",
                      "id": "Select date(s) for analysis",
                      "zh": "Select date(s) for analysis",
                      "ka": "Select date(s) for analysis"
                  }
              }]
          }, {
              "analysisId": "LCC",
              "label": {
                  "en": "Land Cover Composition",
                  "fr": "Couverture des sols",
                  "es": "Cobertura terrestre",
                  "pt": "Cobertura do Solo",
                  "id": "Land Cover",
                  "zh": "土地覆盖",
                  "ka": "მიწის საფარი"
              },
              "chartType": "lccPie",
              "classes": {
                  "en": ["Land Cover", "Agriculture", "Forest", "Grassland", "Shrubland", "Sparse vegetation", "Wetland", "Settlement", "Bare", "Water", "Permanent snow and ice"],
                  "fr": ["Irrigated croplands", "Rainfed croplands", "Cropland forest mosaic", "Broadleaved evergreen or semi-deciduous forest", "Broadleaved deciduous forest", "Needleleaved evergreen or deciduous forest", "Mixed broadleaved and needleleaved forest", "Mosaic of forest, shrubland and grassland", "Shrubland", "Grassland", "Sparse vegetation", "Flooded broadleaved forest", "Flooded vegetation", "Artificial areas", "Bare areas", "Permanent snow and ice"],
                  "es": ["Irrigated croplands", "Rainfed croplands", "Cropland forest mosaic", "Broadleaved evergreen or semi-deciduous forest", "Broadleaved deciduous forest", "Needleleaved evergreen or deciduous forest", "Mixed broadleaved and needleleaved forest", "Mosaic of forest, shrubland and grassland", "Shrubland", "Grassland", "Sparse vegetation", "Flooded broadleaved forest", "Flooded vegetation", "Artificial areas", "Bare areas", "Permanent snow and ice"],
                  "pt": ["Culturas Irrigadas", "Rainfed croplands", "Mosaico de areas florestais e de cultivo", "Floresta verde ou semi-decídua", "Floresta decídua de folha larga", "Floresta verde de coníferas ou Floresta decídua", "Misto de floresta de conifera e de folha larga", "Mosaic of forest, shrubland and grassland ", "Shrubland ", "Grassland ", "Sparse vegetation ", "Flooded broadleaved forest ", "Flooded vegetation ", "Artificial areas ", "Bare areas ", "Permanent snow and ice "],
                  "id": ["Irrigated croplands", "Rainfed croplands", "Cropland forest mosaic", "Broadleaved evergreen or semi-deciduous forest", "Broadleaved deciduous forest", "Needleleaved evergreen or deciduous forest", "Mixed broadleaved and needleleaved forest", "Mosaic of forest, shrubland and grassland", "Shrubland", "Grassland", "Sparse vegetation", "Flooded broadleaved forest", "Flooded vegetation", "Artificial areas", "Bare areas", "Permanent snow and ice"],
                  "zh": ["Irrigated croplands", "Rainfed croplands", "Cropland forest mosaic", "Broadleaved evergreen or semi-deciduous forest", "Broadleaved deciduous forest", "Needleleaved evergreen or deciduous forest", "Mixed broadleaved and needleleaved forest", "Mosaic of forest, shrubland and grassland", "Shrubland", "Grassland", "Sparse vegetation", "Flooded broadleaved forest", "Flooded vegetation", "Artificial areas", "Bare areas", "Permanent snow and ice"],
                  "ka": ["მორწყვადი ს/ს კულტურები", "წვიმით მორწყვადი კულტურები", "ს/ს კულტურების და ტყის მოზაიკა", "ფართოფოთლოვანი მარადმწვანე ან ნახევრად-ფოთოლმცვენი ტყე", "ფართოფოთლოვანი ფოთოლმცვენი ტყე", "წიწვოვანი მარადმწვანე ან ფოთოლმცვენი ტყე", "შერეული ფართოფოთლოვანი და წიწვოვანი ტყე", "ტყის, ბუჩქნარის და მინდორის მოზაიკა", "ბუჩქნარი", "მინდორი", "მეჩხერი მცენარეულობა", "დატბორილი ფართოფოთლოვანი ტყე", "დატბორილი მცენარეულობა", "სახეცვლილი (ხელოვნური) ადგილები", "მოშიშვლებული ადგილები", "მუდმივი თოვლი და ყინული"]
              },
              "colors": ["#D2A965", "#157764", "#CCDB98", "#596B2C", "#D5C998", "#2789D4", "#E9462B", "#F6F0EA", "#A3DCFF", "#FFFFFF"],
              "analysisUrl": "https://production-api.globalforestwatch.org/v1/loss-by-landcover",
              "uiParams": "none",
              "params": [{
                  "name": "layer",
                  "value": "gfw-landcover-2015"
              }]
          }],
          "layerPanel": {
              "GROUP_WEBMAP": {
                  "order": 2,
                  "label": {},
                  "layers": []
              },
              "GROUP_LCD": {
                  "order": 1,
                  "label": {
                      "en": "Land Cover Change Dynamics",
                      "fr": "Evolution de la couverture des sols",
                      "es": "Dinámica de la Cobertura del Suelo",
                      "pt": "Land Cover Dynamics",
                      "id": "Land Cover Dynamics",
                      "zh": "土地覆盖动态数据"
                  },
                  "layers": [{
                      "order": 1,
                      "id": "TREE_COVER_LOSS",
                      "type": "loss",
                      "url": "https://storage.googleapis.com/wri-public/Hansen17/tiles/hansen_world/v1/tc30/{z}/{x}/{y}.png",
                      "technicalName": "tree_cover_loss",
                      "legendLayer": [0],
                      "minYear": 1,
                      "maxYear": 17,
                      "label": {
                          "en": "Tree cover loss",
                          "fr": "Perte en couvert arboré",
                          "es": "Pérdida de la cobertura arbórea",
                          "pt": "Tree cover loss",
                          "id": "Tree cover loss",
                          "zh": "森林覆盖损失"
                      },
                      "sublabel": {
                          "en": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "fr": "(annuel, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "es": "(anual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "pt": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "id": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "zh": "(每年更新, 30米, 全球覆盖, 汉森/马里兰大学/谷歌/美国地质测量局(USGS)/美国宇航局(NASA))"
                      }
                  }, {
                      "order": 2,
                      "id": "TREE_COVER_GAIN",
                      "type": "gain",
                      "url": "https://earthengine.google.org/static/hansen_2013/gain_alpha/{z}/{x}/{y}.png",
                      "technicalName": "tree_cover_gain",
                      "legendLayer": [1],
                      "label": {
                          "en": "Tree cover gain",
                          "fr": "Gain en couvert arboré",
                          "es": "Aumento de la cobertura arbórea",
                          "pt": "Tree cover gain",
                          "id": "Tree cover gain",
                          "zh": "森林覆盖增加"
                      },
                      "sublabel": {
                          "en": "(12 years, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "fr": "(12 ans, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "es": "(12 años, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "pt": "(12 years, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "id": "(12 years, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "zh": "(12 年, 30米, 全球覆盖, 汉森/马里兰大学/谷歌/美国地质测量局(USGS)/美国宇航局(NASA))"
                      }
                  }, {
                      "order": 3,
                      "id": "IMAZON_SAD",
                      "type": "dynamic",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/forest_change/MapServer",
                      "technicalName": "imazon_sad",
                      "layerIds": [2],
                      "label": {
                          "en": "SAD alerts",
                          "fr": "Alertes SAD",
                          "es": "SAD alerts",
                          "pt": "SAD alerts",
                          "id": "SAD alerts",
                          "zh": "SAD alerts"
                      },
                      "sublabel": {
                          "en": "(monthly, 250m, Brazilian Amazon, Imazon)",
                          "fr": "(mensuel, 250m, Amazonie brésilienne, Imazon)",
                          "es": "(monthly, 250m, Brazilian Amazon, Imazon)",
                          "pt": "(monthly, 250m, Brazilian Amazon, Imazon)",
                          "id": "(monthly, 250m, Brazilian Amazon, Imazon)",
                          "zh": "(monthly, 250m, Brazilian Amazon, Imazon)"
                      }
                  }, {
                      "order": 4,
                      "id": "GLAD_ALERTS",
                      "type": "glad",
                      "url": "https://tiles.globalforestwatch.org/glad_prod/tiles/{z}/{x}/{y}.png",
                      "technicalName": "umd_landsat_alerts",
                      "legendLayer": [7],
                      "minDateValue": 15000,
                      "maxDateValue": 16365,
                      "confidence": [0, 1],
                      "label": {
                          "en": "Glad Alerts",
                          "fr": "Alertes Glad",
                          "es": "Glad Alerts",
                          "pt": "Glad Alerts",
                          "id": "Glad Alerts",
                          "zh": "Glad Alerts"
                      },
                      "sublabel": {
                          "en": "(weekly, 30m, select countries, UMD/ GLAD)",
                          "fr": "(hebdomadaire, 30m, certains pays, UMD/ GLAD)",
                          "es": "(weekly, 30m, select countries, UMD/ GLAD)",
                          "pt": "(weekly, 30m, select countries, UMD/ GLAD)",
                          "id": "(weekly, 30m, select countries, UMD/ GLAD)",
                          "zh": "(weekly, 30m, select countries, UMD/ GLAD)"
                      }
                  }, {
                      "order": 5,
                      "id": "TERRA_I_ALERTS",
                      "type": "terra",
                      "url": "https://wri-tiles.s3.amazonaws.com/terrai_prod/tiles/{z}/{x}/{y}.png",
                      "technicalName": "terra_i_alerts",
                      "legendLayer": [13],
                      "maxZoom": 10,
                      "minDateValue": 4000,
                      "maxDateValue": 20000,
                      "imageServer": "https://gis-gfw.wri.org/arcgis/rest/services/image_services/terrai_analysis/ImageServer",
                      "label": {
                          "en": "Terra-I Alerts",
                          "fr": "Alertes Terra-I",
                          "es": "Terra-I Alerts",
                          "pt": "Terra-I Alerts",
                          "id": "Terra-I Alerts",
                          "zh": "Terra-I Alerts"
                      },
                      "sublabel": {
                          "en": "(monthly, 250m, Latin America, CIAT)",
                          "fr": "(mensuel, 250m, Amérique Latine, CIAT)",
                          "es": "(monthly, 250m, Latin America, CIAT)",
                          "pt": "(monthly, 250m, Latin America, CIAT)",
                          "id": "(monthly, 250m, Latin America, CIAT)",
                          "zh": "(monthly, 250m, Latin America, CIAT)"
                      }
                  }, {
                      "order": 6,
                      "id": "VIIRS_ACTIVE_FIRES",
                      "type": "dynamic",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/Fires/FIRMS_Global/MapServer",
                      "technicalName": "viirs_fires",
                      "layerIds": [8],
                      "label": {
                          "en": "VIIRS Active Fires",
                          "fr": "Feux actifs",
                          "es": "Incendios activos",
                          "pt": "Incêndios ativos",
                          "id": "Active fires",
                          "zh": "活跃火点",
                          "ka": "VIIRS აქტიური ხანძრები"
                      },
                      "sublabel": {
                          "en": "(daily, 375m, global, NASA)",
                          "fr": "(journalier, 375m, global, NASA)",
                          "es": "(Diaria, 375m, global, NASA)",
                          "pt": "(Diária, 375m, global, NASA)",
                          "id": "(daily, 375m, global, NASA)",
                          "zh": "(每天更新, 375米, 全球覆盖, 美国宇航局（NASA))",
                          "ka": "(ყოველდღიური, 375მ, გლობალური, NASA)"
                      },
                      "popup": {
                          "title": {
                              "en": "Active Fires"
                          },
                          "content": {
                              "en": [{
                                  "label": "Brightness",
                                  "fieldExpression": "BRIGHTNESS"
                              }, {
                                  "label": "Confidence",
                                  "fieldExpression": "CONFIDENCE"
                              }, {
                                  "label": "Latitude",
                                  "fieldExpression": "LATITUDE"
                              }, {
                                  "label": "Longitude",
                                  "fieldExpression": "LONGITUDE"
                              }, {
                                  "label": "Acquisition Date",
                                  "fieldExpression": "ACQ_DATE: DateString(hideTime :true)"
                              }, {
                                  "label": "Acquisition Time",
                                  "fieldExpression": "ACQ_TIME"
                              }]
                          },
                          "sublabel": {
                              "en": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "fr": "(annuel, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "es": "(anual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "pt": "(anual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "id": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "zh": "(每年更新, 30米, 全球覆盖, 汉森/马里兰大学/谷歌/美国地质测量局(USGS)/美国宇航局(NASA))",
                              "ka": "(წლიური, 30მ, გლობალური, Hansen/UMD/Google/USGS/NASA)"
                          }
                      }
                  }, {
                      "order": 7,
                      "id": "MODIS_ACTIVE_FIRES",
                      "type": "dynamic",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/Fires/FIRMS_Global/MapServer",
                      "technicalName": "firms_active_fires",
                      "layerIds": [9],
                      "label": {
                          "en": "MODIS Active Fires",
                          "fr": "Feux actifs",
                          "es": "Incendios activos",
                          "pt": "Incêndios ativos",
                          "id": "Active fires",
                          "zh": "活跃火点",
                          "ka": "MODIS აქტიური ხანძრები"
                      },
                      "sublabel": {
                          "en": "(daily, 1km, global, NASA)",
                          "fr": "(journalier, 1km, global, NASA)",
                          "es": "(Diaria, 1km, global, NASA)",
                          "pt": "(Diária, 1km, global, NASA)",
                          "id": "(daily, 1km, global, NASA)",
                          "zh": "(每天更新, 1千米, 全球覆盖, 美国宇航局（NASA))",
                          "ka": "(ყოველდღიური, 1კმ, გლობალური, NASA)"
                      },
                      "popup": {
                          "title": {
                              "en": "Active Fires"
                          },
                          "content": {
                              "en": [{
                                  "label": "Brightness",
                                  "fieldExpression": "BRIGHTNESS"
                              }, {
                                  "label": "Confidence",
                                  "fieldExpression": "CONFIDENCE"
                              }, {
                                  "label": "Latitude",
                                  "fieldExpression": "LATITUDE"
                              }, {
                                  "label": "Longitude",
                                  "fieldExpression": "LONGITUDE"
                              }, {
                                  "label": "Acquisition Date",
                                  "fieldExpression": "ACQ_DATE: DateString(hideTime :true)"
                              }, {
                                  "label": "Acquisition Time",
                                  "fieldExpression": "ACQ_TIME"
                              }]
                          },
                          "sublabel": {
                              "en": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "fr": "(annuel, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "es": "(anual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "pt": "(anual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "id": "(annual, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                              "zh": "(每年更新, 30米, 全球覆盖, 汉森/马里兰大学/谷歌/美国地质测量局(USGS)/美国宇航局(NASA))",
                              "ka": "(წლიური, 30მ, გლობალური, Hansen/UMD/Google/USGS/NASA)"
                          }
                      }
                  }]
              },
              "GROUP_LC": {
                  "order": 3,
                  "label": {
                      "en": "Land Cover",
                      "fr": "Couverture des sols",
                      "es": "Cobertura vegetal",
                      "pt": "Land Cover",
                      "id": "Land Cover",
                      "zh": "土地覆盖"
                  },
                  "layers": [{
                      "order": 1,
                      "id": "GLOB_MANGROVE",
                      "type": "webtiled",
                      "url": "https://{subDomain}.ashbu.cartocdn.com/wri-01/api/v1/map/23a7c3aea64174198a46c1fb4211023f:1467735931596/0/{level}/{col}/{row}.png",
                      "subDomains": [0, 1, 2, 3],
                      "technicalName": "global_mangroves",
                      "legendLayer": [11],
                      "label": {
                          "en": "Global Mangrove",
                          "fr": "Global Mangrove",
                          "es": "Global Mangrove",
                          "pt": "Global Mangrove",
                          "id": "Global Mangrove",
                          "zh": "Global Mangrove"
                      }
                  }, {
                      "order": 2,
                      "id": "IFL",
                      "type": "dynamic",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/forest_cover/MapServer",
                      "technicalName": "intact_forest_landscapes_change",
                      "layerIds": [0],
                      "label": {
                          "en": "Intact Forest Landscape",
                          "fr": "Paysage forestier intact",
                          "es": "Paisajes Forestales Intactos",
                          "pt": "Intact Forest Landscape",
                          "id": "Intact Forest Landscape",
                          "zh": "原生森林景观"
                      }
                  }, {
                      "order": 3,
                      "id": "AG_BIOMASS",
                      "type": "image",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/image_services/whrc_carbon_tcd/ImageServer",
                      "technicalName": "aboveground_biomass",
                      "legendLayer": [8],
                      "label": {
                          "en": "Aboveground Live Woody Biomass Density",
                          "fr": "Densité de la biomasse aérienne vivante",
                          "es": "Aboveground Live Woody Biomass Density",
                          "pt": "Aboveground Live Woody Biomass Density",
                          "id": "Aboveground Live Woody Biomass Density",
                          "zh": "Aboveground Live Woody Biomass Density"
                      }
                  }, {
                      "order": 4,
                      "id": "LAND_COVER",
                      "type": "dynamic",
                      "url": "https://gis-gfw.wri.org/arcgis/rest/services/forest_cover/MapServer",
                      "technicalName": "global_landcover",
                      "layerIds": [10],
                      "rasterId": "$523",
                      "bounds": [1, 20],
                      "classes": {
                          "en": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"],
                          "fr": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"],
                          "es": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"],
                          "pt": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"],
                          "id": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"],
                          "zh": ["Dense moist forest", "Submontane forest", "Mountain forest", "Edaphic forest", "Mangrove", "Forest-savanna mosaic", "Rural complex and young secondary forest", "Closed to open deciduous woodland", "Savanna woodland-Tree savanna", "Shrubland", "Grassland", "Aquatic grassland", "Swamp grassland", "Sparse vegetation", "Mosaic cultivated areas/vegeatation( herbaceous or shrub)", "Agriculture", "Irrigated agriculture", "Bare areas", "Artificial surfaces and associated areas", "Water Bodies"]
                      },
                      "colors": ["#3B823D", "#7CA079", "#AAB785", "#355936", "#5BBCF8", "#8BB94B", "#F0F979", "#7B8840", "#CABA4F", "#D3A162", "#FDCA76", "#C1E5DC", "#7AD3AB", "#F3F3AF", "#F6988F", "#FFFFF0", "#FFFFF0", "#A7A7A7", "#F83D48", "#353C92"],
                      "label": {
                          "en": "Land cover",
                          "fr": "Couverture des sols",
                          "es": "Cobertura vegetal",
                          "pt": "Land cover",
                          "id": "Land cover",
                          "zh": "土地覆盖"
                      }
                  }, {
                      "order": 5,
                      "id": "TREE_COVER",
                      "type": "image",
                      "url": "https://gis-treecover.wri.org/arcgis/rest/services/TreeCover2000/ImageServer",
                      "technicalName": "tree_cover",
                      "colormap": [
                          [1, 0, 179, 0]
                      ],
                      "inputRange": [30, 101],
                      "outputRange": [1],
                      "opacity": 0.8,
                      "legendLayer": [2],
                      "label": {
                          "en": "Tree cover density",
                          "fr": "Densité du couvert arboré",
                          "es": "Densidad de follaje",
                          "pt": "Tree cover density",
                          "id": "Tree cover density",
                          "zh": "森林覆盖密度"
                      },
                      "sublabel": {
                          "en": "(year 2000, 30m global, Hansen/UMD/Google/USGS/NASA)",
                          "fr": "(année 2000, 30m global, Hansen/UMD/Google/USGS/NASA)",
                          "es": "(2000, 30m, global, Hansen/UMD/Google/USGS/NASA)",
                          "pt": "(year 2000, 30m global, Hansen/UMD/Google/USGS/NASA)",
                          "id": "(year 2000, 30m global, Hansen/UMD/Google/USGS/NASA)",
                          "zh": "(2000年, 30米 全球覆盖, 汉森/马里兰大学/谷歌/美国地质测量局(USGS)/美国宇航局(NASA))"
                      }
                  }]
              },
              "GROUP_BASEMAP": {
                  "groupType": "basemap",
                  "order": 4,
                  "label": {
                      "en": "Basemap",
                      "fr": "Basemap",
                      "es": "Basemap",
                      "pt": "Basemap",
                      "id": "Basemap",
                      "zh": "Basemap"
                  },
                  "layers": [{
                      "id": "landsat",
                      "thumbnailUrl": "https://my.gfw-mapbuilder.org/img/basemaps-sdd18a411a3-5bf18f445e58b8766f773184b7741c67.png",
                      "templateUrl": "https://d2h71bpqsyf4vw.cloudfront.net/2016/${level}/${col}/${row}.png",
                      "years": ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"],
                      "title": {
                          "en": "Landsat",
                          "fr": "Landsat",
                          "es": "Landsat",
                          "pt": "Landsat",
                          "id": "Landsat",
                          "zh": "Landsat"
                      }
                  }, {
                      "id": "wri_mono",
                      "thumbnailUrl": "https://my.gfw-mapbuilder.org/img/wri_mono.png",
                      "title": {
                          "en": "WRI Mono",
                          "fr": "WRI Mono",
                          "es": "WRI Mono",
                          "pt": "WRI Mono",
                          "id": "WRI Mono",
                          "zh": "WRI Mono"
                      }
                  }, {
                      "id": "wri_contextual",
                      "thumbnailUrl": "https://my.gfw-mapbuilder.org/img/wri_contextual.png",
                      "title": {
                          "en": "WRI Contextual",
                          "fr": "WRI Contextual",
                          "es": "WRI Contextual",
                          "pt": "WRI Contextual",
                          "id": "WRI Contextual",
                          "zh": "WRI Contextual"
                      }
                  }]
              },
              "extraLayers": [{
                  "id": "MASK",
                  "type": "dynamic",
                  "order": 10000,
                  "url": "https://gis.forest-atlas.org/server/rest/services/country_masks/country_mask_global/MapServer",
                  "opacity": 0.35,
                  "layerIds": [0]
              }, {
                  "id": "LEGEND_LAYER",
                  "type": "dynamic",
                  "url": "https://gis-gfw.wri.org/arcgis/rest/services/legends/MapServer",
                  "visible": false,
                  "opacity": 0,
                  "layerIds": []
              }, {
                  "id": "USER_FEATURES",
                  "type": "graphic",
                  "visible": true
              }]
          }
<<<<<<< HEAD
        },
=======
      },
>>>>>>> develop
        version: "1.2.2" // we'll eventually have to affiliate this w/ the "library-load" script's src
      });
