<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>GFW Mapbuilder Library</title>
  </head>
  <body>
    <div id="lib-main"></div>
  </body>
  <script defer>
    var config = '<%= foo %>';

    console.log('aasd', config);
    var gfwLib = new MapBuilda('lib-main', { title: 'different title' });
    // var gfwLib = new MapBuilda('lib-main', config);
    //<title><%= foo %></title>
  </script>
</html>
